body {
    display: flex;
    justify-content: center;
    align-items: center;
/*    height: 100vh;*/
    margin: 0;
}
.container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    box-sizing: border-box;
}
th {
    text-align: center;
    width: 200px;
}
td {
    width: 200px;
}
h3 {
    align-self: flex-start;
    width: 100%;
}
.right-align {
    float: right;
}
.photo-cell {
    width: 170px;
}
.full-width {
    width: 100px;
}
.proself {
    width: 1000px;
    height: 400px;
}

.photo-cell img {
	width: 100%;
	height: auto;
	display: block;
}
.proself-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
textarea {
    width: 1000px;
    height: 300px;
    resize: none;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.container {
    position: relative;
}
.back-button {
    position: absolute;
    right: 460px;
    bottom: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
	border-radius: 4px;
}
.back-button:hover {
    background-color: #0056b3;
}