@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #45a049;
    margin-bottom: 30px;
}

select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    font-size: 16px;
}

.apply-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.apply-button button {
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.apply-button .apply {
    background-color: #007BFF;
}

.apply-button .apply:hover {
    background-color: darkblue;
}

.apply-button .cancel {
    background-color: #45a049;
}

.apply-button .cancel:hover {
    background-color: darkgreen;
        }