/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #343a40;
    margin: 0 10px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007BFF;
}

.menu a.no-underline {
    text-decoration: none;
}

.container {
	white-space: nowrap;
    width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: right;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    background-color: #45a049;
    padding: 10px 20px;
    border-radius: 5px;
}

h1 {
    color: #45a049;
    text-align: center;
}

.tabs {
    display: flex;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs a {
    width: 20%;
	height: 50px;
    text-align: center;
    padding: 15px;
    background-color: #f8f9fa;
    color: #007BFF;
    text-decoration: none;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-right: 10px;
	display: flex; /* Flexbox 사용 */
	align-items: center; /* Flex 아이템을 세로 방향으로 가운데 정렬 */
	justify-content: center; /* Flex 아이템을 가로 방향으로 가운데 정렬 */
}

.tabs a:last-child {
    margin-right: 0;
}

.tabs a:hover {
    background-color: #007BFF;
    color: white;
}

.section-title {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #45a049;
    margin-bottom: 10px;
    font-weight: bold;
}

.job-details {
    margin-bottom: 20px;
}

.job-details p {
    margin: 5px 0;
}

.apply-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.apply-button button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.apply-button button:hover {
    background-color: darkgreen;
}

/* 추가된 부분 */
.summary-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    margin-right: 20px;
}

.right-column ul {
    list-style-type: none;
    padding: 0;
}

.right-column ul li {
    margin-bottom: 10px;
}

.right-column h3 {
    color: #45a049;
    margin-bottom: 10px;
    font-size: 20px;
}

/* 모달 스타일 */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.girBtn:before {
    position: relative;
    display: inline-block;
    background: url(../../gir_sp_btn.png) no-repeat;
    vertical-align: middle;
}

.girBtnFavOn:before {
    content: "";
    width: 15px;
    height: 12px;
    margin: 1px 3px 0 0;
    background-position: -191px 0;
}

.girBtnFav:before {
    content: "";
    width: 15px;
    height: 12px;
    margin: 1px 3px 0 0;
    background-position: -157px 0;
}

.scribeButton {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	background: transparent;
	cursor: pointer;
	border: 1px solid #d5d5d7;
	padding: 3px 8px 3px 5px;
}

.headerform {
	display: flex;
	align-items: center; 
}