@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
	color: black;
    text-align: center;
    width: 100%; /* h2가 전체 너비를 차지하도록 설정 */
}

.form-header {
    display: flex;
    align-items: center;
    width: 100%;
	padding-bottom: 30px;
}

.form-header h2 {
    margin-right: 10px;
}

.form-header{
    font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
    color: rgb(250, 250, 250);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
	border: 1px solid #ddd;
    border-collapse: collapse;
}

td {
	height: 100px;
    padding: 10px;
    font-size: 16px;
	border: 1px solid #ddd;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
	background-color: rgb(239, 242, 236);;
	border-radius: 100px;
    margin-bottom: 10px;
}

input[type="submit"], button {
	font-family: 'GmarketSansMedium', Arial, sans-serif;
    width: 30%;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
	background-color: #45a049;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: rgb(158, 207, 160);
}

input[type="file"] {
	font-family: 'GmarketSansMedium', Arial, sans-serif;
	padding: 10px;
    display: inline-block;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="file"]:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

input[type="file"]:file-selector-button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="file"]:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-input::file-selector-button:hover {
    background-color: rgb(158, 207, 160);
}

.coinfo_adate{
	padding: 20px 0 30px 5px;
}

.addr {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.addr input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}


.addr input{
	margin-top: 11px;
}

.postal-button{
	width: 150px;
	height: 40px;
}

.select-deptnm select{
	font-family: 'GmarketSansMedium', Arial, sans-serif;
	width: 200px;
	height: 40px;
	margin-left: 10px;
	background-color: #ffffff;
}

.select-deptnm select:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}